.about {
    z-index: 2;
    position: relative;
}


.title_section_about {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
}

.title_section_about h1 {
    font-size: 40px;
    font-weight: 700 !important;
    margin: 0;
    color: #fff;
    font-family: 'Cairo';
}

.title_section_about h1 span {
    color: var(--color1);
}