/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



.skills .circular-progress{
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: conic-gradient(var(--color1) 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills .circular-progress::before{
    content: "";
    position: absolute;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: #111111;
}
.skills .progress-value{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #7d2ae8;
    display: flex;
    justify-content: center;
    align-items: center;
}


.skills .title_progress {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}

.skills .progresZ .progress-value img{
    width: 50%;
    height: 50%;
}




.skills #search__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
}
.skills #search__btn button{
    margin: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    outline: none;
    border: none;
    border-radius: 10px;
    background: var(--color3);
    color: #fff;
    font-weight: 600;
    transition: 0.4s;
}

.skills #search__btn button:hover{
    background: var(--color1);
}

.skills #search__btn .isActive{
    background: var(--color1);
}

.skills .body__skills{
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}


@media screen and (max-width: 900px) {
    .skills .progresZ {
        margin-bottom: 20px;
    }

    .skills #section_progresse {
        width: 50%;
    }

}
