.section-header-two{
    color: #fff;
}
.section-header-two .card1{
    border: none;
    border-radius: 0;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    padding: 0.5em 1em 1em 1em;
}

.section-header-two .card1 input{
    padding: 9px;
    border: none;
    border-radius: 5px;
    background: #fdf1ea;
    width: 100%;
}

.section-header-two .card1 textarea{
    border: none;
    border-radius: 5px;
    background: #fdf1ea;
}

.section-header-two .card1 input:focus,.section-header-two .card1 textarea:focus{
    box-shadow: none;
    border: 1px solid #000;
    outline: none;
}

.section-header-two .card1 .btn-form ,.section-header-two .card2 .btn-card2{
    background: var(--color1);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 25px;
    color: #fff;
    font-family: "Heebo", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.6em;
    letter-spacing: 1px;
    border: none;
}

.section-header-two .card2{
    background-image:linear-gradient(rgb(68 68 68 / 63%),rgb(68 68 68 / 63%)), url(../images/card8.jpg);
    padding: 5em 1em 5em 2em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.section-header-two .card2:hover{
    background-image:url(../images/card8.jpg);
    cursor: pointer;
}

.section-header-two .card2 .card-body h2{
    font-size: 40px;
    font-weight: 700;
}

.section-header-two #part2 .thumplainer{
    width: 100%;
    /* height: 480px; */
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
    outline: dotted 2px #fff;
}

.section-header-two #part2 .thumplainer2{
    width: 100%;
    /* height: 450px; */
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
}

.section-header-two #part2 #title{
    color: var(--color1);
    font-weight: 600;
}

.section-header-two #part2 h2{
    font-size: 28px;
    font-weight: 600;
    color: var(--color1);
}

.section-header-two #part2 #mini-part2 ul{
    list-style: none;
    /* padding: 0; */
}

.section-header-two #part2 #mini-part2 ul li span{
    font-size: 20px;
    font-weight: 700;
}
.section-header-two #part2 #mini-part2 ul li i{
    color: var(--color1);
    width: 1.25rem;
    font-size: 20px;
    font-weight: 900;
}

.section-header-two #part2 #mini-part2 ul li{
    /* display: flex;
    align-items: center;
    padding-bottom: 0.7rem; */
}

.section-header-two #part2 #mini-part2 #note{
    padding: 30px 30px 30px 30px;
    background-color: var(--color3);
    border-radius: 5px 5px 5px 5px;
}

.section-header-two #part2 #mini-part2 #note span{
    color:var(--color1);
    font-size: 20px;
    line-height: 1.2rem;
    font-weight: 600;
}